on: [push, pull_request]
name: Continuous integration
jobs:
  test:
    name: run tests and linters
    uses: kubewarden/github-actions/.github/workflows/reusable-test-policy-go.yml@f1695ca9a575bf58b85d6c3652c7ff7d1d12ec24 # v4.5.16
